html, body {
    padding: 0;
    margin: 0;
}
*, :after, :before {
    box-sizing: border-box;
}
.id-total {
    text-align: center;
}
.out {
    /*padding: 50px 200px;*/
    display: inline;
}
.id-title {
    height: 22pt;
    background: #1791FF;
    position: relative;
    color: #fff;
    margin-bottom: 50px;
    text-align: left;
}
.id-title i {
    width: 3px;
    height: 11pt;
    border-radius: 2px;
    background: #fff;
    position: absolute;
    left: 9px;
    top: 7px;
    margin-right: 10px;
}
.id-title span {
    margin-left: 20px;
    font-size: 11pt;
    line-height: 22pt;
}
.out > div {
    width: 21.25rem;
    height: 512px;
    /*background: blue;*/
    display: inline-block;
    /*border: 1px solid #97C2FF;*/
    border-radius: 4px;
    vertical-align: top;
}
.id-img-box .inner-item {
    position: absolute;
    top: 0;
    left: 0;
}
.out .left {
    margin-right: 1.88rem;
}
.id-img-box {
    width: 100%;
    height: 100%;
    border: 1px solid #97C2FF;
    border-radius: 4px;
    background: #E9F2FF;
    text-align: center;
    position: relative;
}
.id-img-box .haveUserImg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.right .border {
    width: 250px;
    height: 350px;
    display: inline-block;
    padding: 5%;
    position: relative;
    margin-top: 50px;
    margin-bottom: 30px;
}
.right .id-img-box .border img{
    width: 100%;
}
.right .id-img-box .border span {
    width: 12px;
    height: 12px;
    border-color: #77B0F8;
    border-style: solid;
    position: absolute;
    display: inline-block;
}
.right .id-img-box .border span:nth-child(1) {
    top: 0;
    left: 0;
    border-width: 2px 0 0 2px;
}
.right .id-img-box .border span:nth-child(2) {
    top: 0;
    right: 0;
    border-width: 2px 2px 0 0;
}
.right .id-img-box .border span:nth-child(3) {
    bottom: 0;
    right: 0;
    border-width: 0 2px 2px 0;
}
.right .id-img-box .border span:nth-child(4) {
    bottom: 0;
    left: 0;
    border-width: 0 0 2px 2px;
}
.right .id-img-box .tips {
    width: 121px;
    height: 34px;
    margin: 0 auto;

}
.right .tips span {
    display: inline-block;
    font-size: 12px;
    color: #A8ADB3;
}
.id-video-box {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    position: relative;
}
.id-video-box .figure{
    width: 250px;
    height: 250px;
    display: inline-block;
    position: absolute;
    top: 20%;
    right: 12%;
    z-index: 2;
}
.left > div {
    display: inline-block;
    width: 100%;
    height: 15rem;
    background: #E9F2FF;
    border-radius: 4px;
}
.left .top {
    margin-bottom: 1.88rem;
}
.left .id-img-box .border {
    width: 240px;
    height: 150px;
    display: inline-block;
    padding: 5%;
    position: relative;
    margin-top: 24px;
    margin-bottom: 14px;
}
.left .id-video-box .border {
    width: 240px;
    height: 150px;
    display: inline-block;
    padding: 5%;
    position: relative;
    margin-top: 24px;
    margin-bottom: 14px;
    z-index: 2;
}
.left .border img{
    width: 100%;
    height: 100%;
}
.left .border span {
    width: 12px;
    height: 12px;
    border-color: #77B0F8;
    border-style: solid;
    position: absolute;
    display: inline-block;
}
.left .border span:nth-child(1) {
    top: 0;
    left: 0;
    border-width: 2px 0 0 2px;
}
.left .border span:nth-child(2) {
    top: 0;
    right: 0;
    border-width: 2px 2px 0 0;
}
.left .border span:nth-child(3) {
    bottom: 0;
    right: 0;
    border-width: 0 2px 2px 0;
}
.left .border span:nth-child(4) {
    bottom: 0;
    left: 0;
    border-width: 0 0 2px 2px;
}
.left .id-img-box .tips {
    width: 121px;
    height: 34px;
    margin: 0 auto;
}
.left .tips span {
    display: inline-block;
    font-size: 12px;
    color: #A8ADB3;
}
.left .id-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
}
.right {
    background: #E9F2FF;
}
.right .border {
    padding: 15% 5%;
}
.right .id-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
}
.button {
    width: 100% !important;
    text-align: center;
    margin-top: 72px;
}
.button button {
    width: 200px;
    height: 40px;
    padding: 10px 20px;
}

.button button:first-child {
    margin-right: 30px;
}
