html, body {
    padding: 0;
    margin: 0;
}
*, :after, :before {
    box-sizing: border-box;
}
.mianguan-title {
    height: 22pt;
    background: #1791FF;
    position: relative;
    color: #fff;
}
.mianguan-title i {
    width: 3px;
    height: 11pt;
    border-radius: 2px;
    background: #fff;
    position: absolute;
    left: 9px;
    top: 7px;
    margin-right: 10px;
}
.mianguan-title span {
    margin-left: 20px;
    font-size: 11pt;
    line-height: 22pt;
}
.mianguan-img-box {
    width: 340px;
    height: 410px;
    margin: 90px auto;
    border: 1px solid #97C2FF;
    border-radius: 4px;
    background: #E9F2FF;
    text-align: center;
    position: relative
}
.border {
    width: 250px;
    height: 250px;
    display: inline-block;
    padding: 5%;
    position: relative;
    margin-top: 50px;
    margin-bottom: 30px;
}
.mianguan-img-box .border img{
    width: 100%;
}
.mianguan-img-box .border span {
    width: 12px;
    height: 12px;
    border-color: #77B0F8;
    border-style: solid;
    position: absolute;
    display: inline-block;
}
.mianguan-img-box .border span:nth-child(1) {
    top: 0;
    left: 0;
    border-width: 2px 0 0 2px;
}
.mianguan-img-box .border span:nth-child(2) {
    top: 0;
    right: 0;
    border-width: 2px 2px 0 0;
}
.mianguan-img-box .border span:nth-child(3) {
    bottom: 0;
    right: 0;
    border-width: 0 2px 2px 0;
}
.mianguan-img-box .border span:nth-child(4) {
    bottom: 0;
    left: 0;
    border-width: 0 0 2px 2px;
}
.mianguan-img-box .tips {
    width: 121px;
    height: 34px;
    margin: 0 auto;

}
.tips span {
    display: inline-block;
    font-size: 12px;
    color: #A8ADB3;
}

.mianguan-img-box .inner-item {
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.mianguan-img-box .haveUserImg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.mianguan-video-box {
    width: 340px;
    height: 410px;
    margin: 90px auto;
    border: 1px solid #97C2FF;
    border-radius: 4px;
    background: #E9F2FF;
    text-align: center;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.mianguan-video-box .video3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mianguan-video-box .figure{
    width: 553px;
    height: 339px;
    display: inline-block;
    margin: 0% -30%;
    position: absolute;
    margin-bottom: 30px;
}
.mianguan-video-box .figure img {
    width: 100%;
}
.mianguan-btns button {
    width: 100px;
    height: 40px;
    padding: 10px 20px;
}
.mianguan-btns button:first-child {
    margin-right: 30px;
}
