.dashboard-layout {
  min-height: 100vh;
}
.dashboard-layout .trigger {
  position: absolute;
  top: 20px;
  left: 24px;
  cursor: pointer;
  transition: color .3s;
}
.dashboard-layout .trigger:hover {
  color: #1890ff;
}

.dashboard-layout .header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 1;
  overflow: auto;
}

.dashboard-layout .ant-menu-dark.ant-menu-horizontal {
  border-bottom: none;
}

.dashboard-layout .dropdown {
	display: inline-block;
	float: right;
}

.dashboard-layout .left-slider {
  position: fixed;
  left: 0;
  top: 64px;
  bottom: 0;
  background: #fff;
  overflow: auto;
}

.dashboard-layout .right-layout {
  padding: 0px 24px 24px;
  position: relative;
  margin-left: 200px;
  margin-top: 64px;
}

.dashboard-layout .right-layout.collapsed {
  margin-left: 80px;
}

.dashboard-layout .full-right-content {
  margin-left: 0 !important;
  padding-top: 24px;
}

.dashboard-layout .right-content {
  background: #fff;
  padding: 24px;
  margin: 0px;
  min-height: 280px;
}
.home-header.ant-layout-header {
  background: rgb(38, 86, 130);
}
.home-header .ant-menu-dark.ant-menu-horizontal > .ant-menu-item .ant-dropdown-trigger {
  color: #fff;
}
.home-header .ant-menu-dark.ant-menu-horizontal > .ant-menu-item {
  color: #fff;
}
.dashboard-layout .home-header .ant-menu-dark.ant-menu-horizontal {
  background: none;
}
.con-help-icon {
  display: inline-block;
  float: right;
}
.con-help-icon img:hover {
  cursor: pointer;
}
.contract {
  margin-right: 22px;
  z-index: 33;
}
.help {
  margin-right: 30px;
  z-index: 33;
}
.ant-layout.ant-layout-has-sider {
    z-index: 0;
}
